@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');

:root {
    --color-primary: #007bff;
    --color-secundary: rgb(255, 255, 255);
    --color-mobile: #B74794;

    --font: "Sevillana", cursive;
}

