.page {
    background-image: url("../assets/palacio.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    .title {
        color: var(--color-secundary);
        text-align: center;
        font-family: var(--font);
        width: 100%;
        height: 131px;
        font-weight: 400;
        font-size: 58px;
        line-height: 80.13px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            font-size: 20px;
            line-height: 27.14px;
        }
    }

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 772px;

        @media (max-width: 768px) {
            display: flex;
            justify-content: space-evenly;
        }
    }

    img {
        height: 740px;

        @media (max-width: 768px) {
            max-width: 400px;
            height: 422px;
            margin-top: 50px;
        }
    }

    button {
        width: 400px;
        height: 71px;
        border-radius: 50px;
        border: 1px solid var(--color-primary);
        background-color: var(--color-primary);
        color: var(--color-secundary);
        font-family: var(--font);
        font-weight: 400;
        font-size: 40px;
        line-height: 54.28px;

        @media (max-width: 768px) {
            width: 200px;
            height: 65px;
            background-color: var(--color-mobile);
            font-size: 20px;
            line-height: 27.14px;
            margin-bottom: 30px;
        }
    }
}